### 1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [1]:
import pandas as pd
df=pd.Series([2,4,6,8,10])
df

0     2
1     4
2     6
3     8
4    10
dtype: int64

### 2. Write a Pandas program to convert a Panda module Series to Python list and itâ€™s type.

In [6]:
df=pd.Series([2,4,6,8,10])
print(type(df))

list_df=list(df)    # or df.tolist()
print(type(list_df))

<class 'pandas.core.series.Series'>
<class 'list'>

### 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series

In [11]:
df=pd.Series([1,2,3])
df1=pd.Series([1,4,10])
print(df+df1)
print()
print(df1/df)

0     2
1     6
2    13
dtype: int64

0    1.000000
1    2.000000
2    3.333333
dtype: float64

### 4. Write a Pandas program to convert a dictionary to a Pandas series.

In [17]:
dict={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Series1=pd.Series(dict)
type(Series1)

pandas.core.series.Series

### 5. Write a Pandas program to convert a NumPy array to a Pandas series

In [21]:
import numpy as np
a=np.array([1,2,3])
b=pd.Series(a)
type(b)

pandas.core.series.Series

### 6. Write a Pandas program to change the data type of given a column or a Series

In [33]:
df=pd.Series(['100', '200', 'python', '300.12', '400'])
pd.to_numeric(df , errors='coerce')

# https://pandas.pydata.org/docs/reference/api/pandas.to_numeric.html

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

### 7. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [38]:
person={
    'first':['Vaibhav' , 'Sam'],
    'last':['Nath' , 'Roh']
}
df=pd.DataFrame(person)   #create a dataframe.
print(df)
print()
a=df['first']     #convert a column to Series
print(a)
type(a)      #returns type of Series

     first  last
0  Vaibhav  Nath
1      Sam   Roh

0    Vaibhav
1        Sam
Name: first, dtype: object

pandas.core.series.Series

### 8. Write a Pandas program to convert a given Series to an array

In [46]:
df=pd.Series(['100', '200', 'python', '300.12', '400'])
print(df)
print()
a=np.array(df)
print(a)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

['100' '200' 'python' '300.12' '400']

### 9. Write a Pandas program to convert Series of lists to one Series.

In [5]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
s.apply(pd.Series).stack().reset_index(drop=True)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

### 10. Write a Pandas program to sort a given Series.

In [18]:
a=pd.Series(['4','5','1','3','0','-1','python'])
pd.Series.sort_values(a)

5        -1
4         0
2         1
3         3
0         4
1         5
6    python
dtype: object

### 11. Write a Pandas program to add some data to an existing Series.

In [23]:
a=pd.Series(['4','5','1','3','0','-1','python'])
a.append(pd.Series(['7','8']))

0         4
1         5
2         1
3         3
4         0
5        -1
6    python
0         7
1         8
dtype: object

### 12. Write a Pandas program to create a subset of a given series based on value and condition.

In [28]:
a=pd.Series([0,1,2,3,4,5,6,7,8,9])
n=5
b=a[a<n]
b

0    0
1    1
2    2
3    3
4    4
dtype: int64

### 13. Write a Pandas program to change the order of index of a given series.

In [39]:
a=pd.Series([7,1,2,3,4] , index=['b','a','c','e','d'])
print(a)
a=a.reindex(index=['a','b','c','d','e'])
a

b    7
a    1
c    2
e    3
d    4
dtype: int64

a    1
b    7
c    2
d    4
e    3
dtype: int64

### 14. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [43]:
a=pd.Series([7,1,2,3,4])
print(a.mean())
print(a.median())
print(a.std())

3.4
3.0
2.3021728866442674

### 15. Write a Pandas program to get the items of a given series not present in another given series.

In [45]:
a=pd.Series([1,2,3,4,5])
b=pd.Series([2,4,6,8,10])
r=a[~a.isin(b)]
r

0    1
2    3
4    5
dtype: int64

### 16. Write a Pandas program to get the items which are not common of two given series.

In [54]:
import numpy as np
a=pd.Series([1,2,3,4,5])
b=pd.Series([2,4,6,8,10])
a1=pd.Series(np.union1d(a,b))
print(a1)
print()
b1=pd.Series(np.intersect1d(a,b))
print(b1)
r=a1[~a1.isin(b1)]
r

0     1
1     2
2     3
3     4
4     5
5     6
6     8
7    10
dtype: int64

0    2
1    4
dtype: int64

0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

### 17. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

In [77]:
a=np.random.RandomState(100)
b=pd.Series(a.normal(10,1,20))   # 10-->mean , 1-->std (both approximate for Series.) , 20-->no. of terms
print(b)
print()
r=np.percentile(b , q=[0,25,50,75,100])
print(r)

0      8.250235
1     10.342680
2     11.153036
3      9.747564
4     10.981321
5     10.514219
6     10.221180
7      8.929957
8      9.810504
9     10.255001
10     9.541973
11    10.435163
12     9.416405
13    10.816847
14    10.672721
15     9.895589
16     9.468720
17    11.029733
18     9.561864
19     8.881682
dtype: float64

[ 8.25023453  9.52365967 10.05838426 10.55384433 11.1530358 ]

### 18. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [11]:
import numpy as np
n=pd.Series(np.random.randint(1,5,8))
print(n)
b=n.value_counts()
print(b)

0    1
1    2
2    2
3    2
4    4
5    2
6    1
7    3
dtype: int32
2    4
1    2
3    1
4    1
dtype: int64

### 19. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

In [15]:
import numpy as np
n=pd.Series(np.random.randint(1,5,8))
print(n)
b=n.value_counts()
print(b)
result = n[~n.isin(n.value_counts().index[:1])] = 'Other'
print(n)

0    1
1    4
2    3
3    2
4    1
5    3
6    4
7    1
dtype: int32
1    3
3    2
4    2
2    1
dtype: int64
0        1
1    Other
2    Other
3    Other
4        1
5    Other
6    Other
7        1
dtype: object

### 20. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

In [35]:
a=pd.Series(np.random.randint(1,10,10))
print(a)
r=np.argwhere([a % 5 == 0])
print(r)    # 0 is output is the row number of Series.

0    9
1    2
2    8
3    5
4    5
5    1
6    9
7    4
8    4
9    2
dtype: int32
[[0 3]
 [0 4]]

### 21. Write a Pandas program to extract items at given positions of a given series.

In [41]:
a=pd.Series(np.random.randint(1,5,10))
print(a)
print()
e=[0,2,3,6,8]
a.take(e)

0    4
1    1
2    2
3    1
4    1
5    1
6    2
7    2
8    3
9    2
dtype: int32

0    4
2    2
3    1
6    2
8    3
dtype: int32

### 22. Write a Pandas program to get the positions of items of a given series in another given series.

In [42]:
a=pd.Series([0,4,1,2,44,3,8])
b=[4,2,8]
r=[pd.Index(a).get_loc(i) for i in b]
print(r)

[1, 3, 6]

In [43]:
### 23.