In [1]:
person = {
    'first':['Vaibhav','Sam','John'],
    'last' : ['Nath','Ham','Doe'],
    'email' : ['Vaibhav.nath@email.com', 'Sam.Ham@email.com','John.Doe@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(person)
df

     first  last                   email
0  Vaibhav  Nath  Vaibhav.nath@email.com
1      Sam   Ham       Sam.Ham@email.com
2     John   Doe      John.Doe@email.com